.comming {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
    background-image: url("https://wallpaperaccess.com/full/264.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: "center";
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
  }
  .header {
    padding: 3rem 3rem 2rem;
    display: flex;
    align-items: center;
  }
  .header span {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #0073e6;
    z-index: 2;
  }
  .logo {
    width: 0;
    height: 0;
    border-bottom: 30px solid #0073e6;
    border-right: 30px solid transparent;
    margin-right: 15px;
    z-index: 3;
  }
  .logo::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 30px solid #ff6666;
    border-right: 30px solid transparent;
  }
  .logo::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 30px solid #004d99;
    border-left: 30px solid transparent;
  }
  .mobile {
    position: relative;
  }
  .mobile_contact {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    box-shadow: 0 0 55px 1px rgba(255, 255, 255, 0.7);
    opacity: 1;
  }
  .mobile_contact::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px) saturate(100%) contrast(45%) brightness(130%);
    background: #e6f2ff;
    opacity: 0.9;
    top: 0;
    left: 0;
  }
  .content_data h1 {
    text-transform: uppercase;
    z-index: 2;
  }
  .content_data h1 > span:first-child {
    color: #004d99;
    font-weight: 700;
    letter-spacing: 5px;
    z-index: 2;
  }
  .content_data h1 > span:last-child {
    color: #0073e6;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 2.5rem;
    z-index: 2;
  }
  .content_data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 5rem 5rem;
    z-index: 2;
  }
  .text,
  label {
    letter-spacing: 1px;
    line-height: 2;
    z-index: 2;
  }
  .text {
    font-weight: 300;
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
  label {
    font-weight: 700;
    font-size: 1rem;
    color: #000;
  }
  .reference {
    font-size: 12px;
    color: gray;
    text-align: right;
    font-weight: 300;
  }
  
  input {
    padding: 0.5rem;
    width: 100%;
  }
  .mobile_contact {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .social-links {
    display: flex;
    flex-direction: column;
    z-index: 3;
  }
  .social-links p {
    margin-bottom: 10px;
    font-weight: 700;
  }
  .social-ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }
  .social-li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
  }
  .li-logo {
    height: 20px;
    width: 20px;
    padding: 10px;
    margin-right: 5px;
    color: #fff;
    background: #004d99;
    text-align: center;
    border-radius: 50%;
  }
  