@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h2{
    color: white;
    font-weight: bold;
}
.canvas,
.container,
.container-blocker {
  width: 100%;
  height: 900px;
}



.container,
.container-blocker {
  overflow:hidden;
  position: absolute;
  display: block;
  height:645px
}

.container-blocker {
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
}

.container p {
  font-size: 72px;
  color: #fff;
  font-weight: 100;
  font-family: "Open Sans", Arial, helvetica, sans-serif;
  margin: 0 auto;
  margin-top: 278px;
  text-align: center;
  z-index: 2;
}

.homepanal {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: lightcyan;
}

#panel-one {
    overflow: hidden;
    background-image: url('https://i1.sndcdn.com/artworks-000277503575-3t4fpl-t500x500.jpg');
}
#panel-two {
    overflow: hidden;
    background-image: url('https://images5.alphacoders.com/865/thumb-1920-865199.jpg');
}
#panel-three {
    overflow: hidden;
    background-image: url('https://cdn.wallpapersafari.com/78/96/fiWSLc.jpg');
}
#panel-four {
    overflow: hidden;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/726/396/903/bow-anime-hunter-hair-bows-wallpaper-preview.jpg');
}
#panel-five {
    overflow: hidden;
    background-image: url('https://w0.peakpx.com/wallpaper/224/464/HD-wallpaper-elf-warrior.jpg');
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h2 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
}

.panel.active {
    flex: 5;

}

.panel.active h2 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;

}

@media(max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}